body {
    background-color: rgb(46, 68, 114);
    margin: 0px;
}

nav {
}

ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
    overflow: hidden;
    width: 100% ;
    top: 0px;
    position: fixed;
    background-color: rgba(46, 68, 114, 0.5);
    line-height: 32px;
    margin: 0;
}

li {
    float: left;
    width: 25% ;
}

a {
    color: rgb(252, 248, 250);
    text-decoration: none;
}

header {
    background-image: url('small.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    margin: 0px;
}

#logo {
    text-align: center;
    color: rgb(252, 248, 250);
    line-height: 300px;
    font-size: 100px;
    background-color: rgba(46, 68, 114, 0.6);
}

.area {
    height: 250px;
}