body {
    background-color: darkslategrey;
}

li {
    list-style-type: none;
    display: inline;
}

a {
    border: rgb(20, 66, 66) 2px solid;
    color: rgb(252, 248, 250);
}

#logo {
    color: rgb(252, 248, 250);
}